# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Space_Shooter.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\Space_Shooter\.idea\.idea.Space_Shooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
